body{
  background:#593959;
  
}

#root{
  padding-top: 10% ;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
form{
  position: fixed;
}

.container{
  width:80%;
  background:#F391A0;
  height:400px;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-y: scroll;
  scrollbar-width: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}